# Dfs0

## Reading data

In [1]:
from mikeio import Dfs0

dfs = Dfs0("TemporalEqTime.dfs0")
dfs

<mikeio.Dfs0>
Timeaxis: TimeAxisType.TimeEquidistant
Items:
  0:  WaterLevel item <Water Level> (meter)
  1:  WaterDepth item <Water Depth> (meter)

In [3]:
ds = dfs.read()
ds

<mikeio.DataSet>
Dimensions: (10,)
Time: 1970-01-01 00:00:00 - 1970-01-01 00:01:30
Items:
  0:  WaterLevel item <Water Level> (meter)
  1:  WaterDepth item <Water Depth> (meter)

In [4]:
type(ds)

mikeio.dataset.Dataset

In [5]:
df = ds.to_dataframe()
df

                     WaterLevel item  WaterDepth item
1970-01-01 00:00:00              0.0            100.0
1970-01-01 00:00:10              1.0            101.0
1970-01-01 00:00:20              2.0            102.0
1970-01-01 00:00:30              3.0            103.0
1970-01-01 00:00:40              4.0            104.0
1970-01-01 00:00:50              5.0            105.0
1970-01-01 00:01:00             10.0            110.0
1970-01-01 00:01:10             11.0            111.0
1970-01-01 00:01:20             12.0            112.0
1970-01-01 00:01:30             13.0            113.0

In [7]:
df2 = dfs.to_dataframe()
df2

                     WaterLevel item  WaterDepth item
1970-01-01 00:00:00              0.0            100.0
1970-01-01 00:00:10              1.0            101.0
1970-01-01 00:00:20              2.0            102.0
1970-01-01 00:00:30              3.0            103.0
1970-01-01 00:00:40              4.0            104.0
1970-01-01 00:00:50              5.0            105.0
1970-01-01 00:01:00             10.0            110.0
1970-01-01 00:01:10             11.0            111.0
1970-01-01 00:01:20             12.0            112.0
1970-01-01 00:01:30             13.0            113.0

In [9]:
all(df == df2)

True