# Pandas

In [1]:
import pandas as pd

In [6]:
cities = {'name': ["Copenhagen", "London"],
          'population': [1.5, 11.2]}

In [8]:
df = pd.DataFrame(cities)
df

         name  population
0  Copenhagen         1.5
1      London        11.2

In [10]:
df[df.name=='London']

     name  population
1  London        11.2

In [11]:
df.population.mean()

6.35